[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".tmux/plugins/nord-tmux"]
	path = .tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux.git
[submodule ".vim/pack/default/start/vim-polyglot"]
	path = .vim/pack/default/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/default/start/fzf.vim"]
	path = .vim/pack/default/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
