[user]
  name = Frode Aannevik
  email = frode.aa@gmail.com
  signingkey = CFFA2237F1526F8F8024EAC918F1D5F4837B359D

[sendemail]
  smtpserver = /usr/local/bin/msmtp
  assume8bitEncoding = true
  confirm = auto

[alias]
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
  br = branch
  ci = commit
  co = checkout
  log1 = log --pretty=oneline --abbrev-commit
  st = status
[core]
	excludesfile = /Users/frode/.gitignore
